/*STRT by LewdShawty||D4ndie*/

@import url(assets/font.css);

body {
    width: 100%;
    margin: auto;
    margin-top: 0px;
    background:#BAB6C5;
    font-family: NoSugar;
}

#main{
    display: flex;
    align-items: center;
    margin:auto;
    margin-top: 70px;
    width: 1000px;
}

#stuff {
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 75%;
}

#welcome{
    color: #6D5B97;
    font-family: valentine; 
    font-size: 100px;
}

.search{
    padding: 10px;
    position: relative;
    left: center;
    border-bottom-style: 5px solid #6D5B97;
}

#searchField{
    width: 750px;
    height: 50px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: 5px none #6D5B97;
    border-left-style: none;
    background: #BAB6C5;

    font-size: 30px;
    font-family: NoSugar;
    font-weight: bolder;
}

#clockbox{
    position: relative;
    align-self: center;
    color: #6D5B97;
    bottom: 2%;
    left: -3%;
    
    font-size: 32px;
    font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
}

img {
    position: fixed;
    bottom: 15;
    left: 75;
    width: 410px;
    z-index:-1;
}